/** GENERAL STYLES **/

html {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/** FONT STYLES **/

a {
  color: seashell;
  text-decoration: underline;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

h4 {
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

/** HEADER & NAV BAR STYLES **/

header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 69px;
  display: flex;
  background-color: black;
  border-bottom: 1px solid seashell;
}

nav {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  margin-right: 10px;
}

nav p {
  padding: 10px;
}

#logo {
  display: inline-flex;
  width: 50%;
  align-items: center;
}

#logo img {
  height: 50px;
}

/** MAIN CONTENT **/

.main-content {
  width: 1200px;
  margin: auto;
}

#mission {
  margin-top: 69px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
}

.mission-text {
  text-align: center;
  position: relative;
  top: 370px;
  background-color: black;
  padding: 10px 0px;
  margin: 0;
}

#tea-month {
  top: 840px;
  left: 140px;
  width: 1000px;
  height: 680px;
  padding-top: 40px;
  margin: auto;
}

.tea-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products {
  width: 300px;
  height: 200px;
  padding: 0 15px;
}

#tea-month h4 {
  margin-bottom: 10px;
}

#locations {
  width: 1200px;
  height: 500px;
  padding-top: 50px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}

.location-flex-container {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.location {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: black;
  text-align: center;
  padding: 10px;
  margin: 0 20px;
  opacity: 1;
}

#contact {
  height: 200px;
  text-align: center;
}

/** FOOTER STYLES **/

footer {
  text-align: left;
  margin-left: 20px;
}
